locationsBorder{
    display: block; 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden; 
    border-style: inset; 
    border-width: 1px;
}
.jumbotron {
    padding: 4rem 2rem;
    margin-bottom: 2rem;
    background-color:#e9ecef;
    border-radius: .3rem;  
    height: 250px;
  }
  a {
    text-decoration: none;
    color: rgb(75, 141, 150);
  }
  a:hover
  {
      color: darkgray;
  }